<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= company.industry %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= company.Pincode %>
  </p>

</div>
